{% extends 'base.html.twig' %}

{% block title %}New TournamentsIntr{% endblock %}

{% block body %}
    <h1>Create new TournamentsIntr</h1>

    {{ include('tournaments_intr/_form.html.twig') }}

    <a href="{{ path('tournaments_intr_index') }}">back to list</a>
{% endblock %}
